<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/{{styleName}}.css">
 

</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="link-header">
                <img src="images/free-icon-tv-app-3845752.png" alt="logo" class="logo">
    
                <h1>TV shop</h1>
            </a>
    </header>
    
    
    
    </div>
    <main>
        <div class="container">
    {{{body}}}
    </div>
</body>
</html>