.page-photo{
    width: 800px;
}

.product_name{
    font-size: 50px;
    margin-bottom: 40px;
}

.item{
    list-style: none;
    font-size: 25px;
}

.item:not(:last-child){
    margin-bottom: 10px;
}